<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatSafe - Monitorowanie Ostrzeżeń GIS</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all.css') }}"
    />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container-fluid vh-100 p-0 overflow-hidden">
        <div class="row h-100 g-0">
            <div class="col-auto h-100 p-0">
                <nav class="sidebar w-100 h-100 d-flex flex-column align-items-center p-0 pt-1">

                    <div class="text-center p-2 mb-3 w-100"><i class="fa-solid fa-bars fa-3x"></i></div>

                    <button class="btn-navbar p-2 mb-5 w-100" title="Informacje" data-bs-toggle="modal" id="nav-btn-info" data-bs-target="#infoModal"><i class="fa-solid fa-info fa-2x "></i></button>

                    <button class="btn-navbar btn-navbar-active p-2 mb-5 w-100" title="Zagrożenia" id="nav-btn-warnings"><i class="fa-solid fa-triangle-exclamation fa-2x"></i></button>

                    <button class="btn-navbar p-2 w-100" title="Newsletter" data-bs-toggle="modal" id="nav-btn-news"  data-bs-target="#newsletterModal"><i class="fa-solid fa-envelope fa-2x"></i></button>
                </nav>
            </div>

            <div class="col h-100 w-100 d-flex flex-column bg-light">
                <header class="topbar d-flex justify-content-between px-3 py-1 border-bottom border-black">
                    <div class="logo">
                        <h1 class="m-0 logo-text d-flex align-items-center justify-content-center gap-2">
                            <img src="{{ url_for('static', filename='img/icon.webp') }}" width="64" height="64" alt="logo"> Eat<span style="color: #70C1B3">Safe</span>
                        </h1>
                    </div>
                    
                    <div class="topbar-actions d-flex align-items-center">
                        <span class="text-muted me-3 last-update">ostatnio zaktualizowano: 3min. temu</span>
                        <button class="btn btn-outline-dark fw-semibold">
                            <i class="fa-solid fa-rotate-right me-1"></i> Odśwież ostrzeżenia GIS
                        </button>
                    </div>
                </header>

                <main class="main-background flex-grow-1 d-flex flex-column overflow-hidden">
                    <div class="d-flex justify-content-between align-items-center m-2">
                        <div class="">
                            <button type="button" class="btn btn-light fs-5"
                            hx-post="/ui/export"
                            hx-target="#toastPlacement" 
                            hx-swap="beforeend" 
                            hx-include="#result-list"
                            >
                                <i class="fa-solid fa-arrow-up-from-bracket fa-lg me-2"></i>
                                Eksport
                            </button>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <button type="button" class="btn btn-light fs-5 me-2"          
                                data-bs-toggle="popover" 
                                data-bs-placement="left" 
                                data-popover-content="#sort-popover-template">
                                <i class="fa-solid fa-sort fa-lg me-2"></i>
                                Sortuj
                            </button>

                            <button type="button" class="btn btn-light fs-5 me-2"            
                                data-bs-toggle="popover" 
                                data-bs-placement="left" 
                                data-popover-content="#filter-popover-template">
                                <i class="fa-solid fa-filter fa-lg me-2"></i>
                                Filtruj
                            </button>

                            <div class="input-group" style="width: 400px;">
                                <span class="input-group-text bg-light border"><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input type="search" 
                                       class="form-control border" 
                                       placeholder="Wyszukaj..."
                                       name="q"
                                       hx-get="/search" 
                                       hx-trigger="keyup changed delay:500ms" 
                                       hx-target="#result-list">
                            </div>
                        </div>
                    </div>

                    <div class="d-none" id="sort-popover-template">
                        {% include 'partials/sort_popover.html' %}
                    </div>

                    <div class="d-none" id="filter-popover-template">
                        {% include 'partials/filter_popover.html' %}
                    </div>

                    <div id="result-list" class="flex-grow-1 overflow-auto ps-2 pb-2">
                        {% include 'partials/search_results.html' %}
                        {% include 'partials/load_more_warnings_button.html' %}
                    </div>
                </main>
            </div>
        </div>

        <!-- toasts notification div -->
        <div class="toast-container p-3 overflow-hidden h-100 position-absolute top-0 end-0 m-0 p-0">
            <div id="toastPlacement" class="d-flex flex-column gap-2 p-2">
                
            </div>
    </div>


    <!-- modals -->
    <div id="warning-detail-modal-container"></div>
    {% include 'partials/info_modal.html' %}
    {% include 'partials/newsletter_modal.html' %}

    
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <script>
        //CONST ELEMENTS
        // navbar modals buttons 
        const btnInfo = document.getElementById('nav-btn-info');
        const btnAlerts = document.getElementById('nav-btn-warnings');
        const btnNews = document.getElementById('nav-btn-news');

        // navbar modals
        const infoModal = document.getElementById('infoModal');
        const newsModal = document.getElementById('newsletterModal');

        //HELP FUNCIONS
        const resetNavbar = () => {
                btnInfo.classList.remove('btn-navbar-active');
                btnNews.classList.remove('btn-navbar-active');
                btnAlerts.classList.add('btn-navbar-active');
            }

        //EVENT LISTENERS

        // script for sort and filter poopovers from bootstrap
        document.addEventListener("DOMContentLoaded", function(){
            let popoverTriggerList = [...document.querySelectorAll('[data-bs-toggle="popover"]')]
            
            let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            let contentSelector = popoverTriggerEl.getAttribute('data-popover-content');
                
            // setting poopover bootstrap options
            let popoverOptions = {
                html: true,
                sanitize: false, // turn off html filtering
            };

            if (contentSelector) {
                popoverOptions.content = function() {
                    return document.querySelector(contentSelector).innerHTML;
                };
            }

            return new bootstrap.Popover(popoverTriggerEl, popoverOptions);
            });
        });

        //nabar active button class show implementation
        document.addEventListener("DOMContentLoaded", function() {
            // listening info modal
            if (infoModal) {
                // listener when info modal will open (bootstrap event)
                infoModal.addEventListener('show.bs.modal', function() {
                    btnAlerts.classList.remove('btn-navbar-active');
                    btnInfo.classList.add('btn-navbar-active');
                });
                // listener when modal will hide
                infoModal.addEventListener('hidden.bs.modal', resetNavbar);
            }

            // listening newsletter modal
            if (newsModal) {
                // listener when newsletter modal will open (bootstrap event)
                newsModal.addEventListener('show.bs.modal', function() {
                    btnAlerts.classList.remove('btn-navbar-active');
                    btnNews.classList.add('btn-navbar-active');
                });
                // listener when modal will hide
                newsModal.addEventListener('hidden.bs.modal', resetNavbar);
            }
        });


        // GLOBAL EVENTS BY HTMX
        document.body.addEventListener("htmx:afterSwap", function(event) {
            // provides when user click info button from warning detail modal will shows up 
            // if new modal was swaped
            if (event.detail.target.id === "warning-detail-modal-container") {
                // get modal and show it
                let newModal = new bootstrap.Modal(document.getElementById('alertDetailModal'));
                newModal.show();
            }

            // toast notification logic
            if (event.detail.target.id === "toastPlacement") {
                // get toast which are not showed
                let newToast = event.detail.target.querySelector('.toast:not(.show)');
                
                //if there any new toast show them for 10 sec
                if (newToast) {
                    let toast = new bootstrap.Toast(newToast, { delay: 10000});
                    toast.show()

                    //when new toasts will hide remove them
                    newToast.addEventListener('hidden.bs.toast', function () {
                        newToast.remove();
                    });
                }
            }
        });
    </script>
</body>
</html>