.logo-text {
    font-weight: 900;
    font-size: 3.5rem
}

.last-update {
    font-size: 1rem;
}

.sidebar {
    background-color: #F5BB00;
}

.btn-navbar {
    background-color: transparent;
    border: none;
}

.btn-navbar:hover {
    background-color: #F8FFD7;
}

.btn-navbar-active {
    background-color: #F8FFD7;
}

.main-background {
    background-color: #F8FFD7;
}

.modal-content {
    background-color: #F5BB00;
}

.popover {
    z-index: 1040 !important;
}

.btn-outline-blue {
    color: #247BA0;
    border: 1px solid #247BA0;
}

.btn-outline-blue:hover {
    color: #ffffff;
    background-color: #247BA0;
    border: 1px solid #247BA0;
}

.btn-outline-red {
    color: #FF1654;
    border: 1px solid #FF1654;
}

.btn-outline-red:hover {
    color: #ffffff;
    background-color: #FF1654;
    border: 1px solid #FF1654;
}

.background-blue {
    color: #ffffff;
    background-color: #247BA0;
    border: 1px solid #247BA0;
}

.background-red {
    color: #ffffff;
    background-color: #FF1654;
    border: 1px solid #FF1654;
}

.background-green {
    color: #000000;
    background-color: #70c1b4dc;
    border: 1px solid #70c1b4dc;
}