.logo-text {
    font-weight: 900;
    font-size: 3.5rem
}

.last-update {
    font-size: 1rem;
}

.sidebar {
    background-color: #F5BB00;
}

.btn-navbar {
    background-color: transparent;
    border: none;
}

.btn-navbar:hover {
    background-color: #F8FFD7;
}

.btn-navbar-active {
    background-color: #F8FFD7;
}

.main-background {
    background-color: #F8FFD7;
}

.modal-content {
    background-color: #F5BB00;
}

.popover {
    z-index: 1040 !important;
}