<form hx-get="/search" hx-include="#search-input" hx-target="#search-results-container" hx-swap="outerHTML">
    <div class="p-2" style="min-width: 250px;">
        <h6 class="text-uppercase text-muted fw-bold mb-3" style="font-size: 0.8rem;">Data publikacji</h6>
        
        <div class="mb-2">
            <label for="date_from" class="form-label small text-muted mb-1 fw-semibold">Od:</label>
            <input type="date" id="date_from" name="date_from" class="form-control form-control-sm border">
        </div>
        
        <div class="mb-3">
            <label for="date_to" class="form-label small text-muted mb-1 fw-semibold">Do:</label>
            <input type="date" id="date_to" name="date_to" class="form-control form-control-sm border">
        </div>
        
        <hr>
        <button type="submit" class="btn btn-dark btn-sm w-100">Zastosuj filtry</button>
    </div>
</form>