<div class="modal fade" id="newsletterModal" tabindex="-1" aria-labelledby="newsletterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg border-0">
            <div class="modal-header pt-0 pb-0 border-bottom border-black">
                <h4 class="modal-title fw-semibold fs-1 mb-2" id="infoModalLabel">
                    <i class="fa-solid fa-envelope p-2 fa-sm"></i> Newsletter
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body text-center pt-2 pb-4 px-4">
                <div class="mb-3">
                    <h2 class="m-0 logo-text d-flex align-items-center justify-content-center gap-2">
                            <img src="{{ url_for('static', filename='img/icon.webp') }}" width="64" height="64" alt="logo" class="mr-2"> Eat<span style="color: #70C1B3">Safe</span>
                    </h2>
                </div>
                <div class="mx-5">
                    <p class="mb-4 fw-medium text-dark text-justify">
                        Zapisz się do newslettera aby otrzymywać najnowsze ostrzeżenia GIS na bieżąco!
                    </p>
                </div>
                <div class="mx-5 mb-4 d-flex shrink-0">
                    <input class="form-control borde border-black mx-5 fs-6" id="newsletterEmail" placeholder="Podaj adres email..." type="email" name="email">
                </div>
                <div class="d-flex mx-5 flex-column">
                    <button type="button" class="btn btn-outline-blue mx-5 mb-4 fs-5 fw-semibold" 
                    hx-post="/ui/newsletter/subscribe"
                    hx-target="#newsletter-response" hx-include="#newsletterEmail">Dołącz do newslettera</button>

                    <button type="button" class="mx-5 btn btn-outline-red mb-4 fs-5 fw-semibold" 
                    hx-post="/ui/newsletter/unsubscribe"
                    hx-target="#newsletter-response" hx-include="#newsletterEmail">Wypisz się z newslettera</button>
                </div>
                
                <div id="newsletter-response" class="mx-5 mb-3"></div>
            </div>
        </div>
    </div>
</div>